<p id="notice"><%= notice %></p>


<%= form_with(url: search_notes_path, method: "get") do |form| %>
  <div class="search-form">
    <%= form.text_field :search, class: "form-control", placeholder: "Search by title...", required: true %>
    <label class="search" for="search" ><i class="material-icons">search</i></label>
  </div>
<% end %>




  <% @notes.each do |note| %>
    <%= link_to note_path(note) do %>
      <div class="col s12">
        <div class="card">
          <div class="card-content black-text">
            <span class="card-title">
              <%= note.title %>
              <span class="right" style="font-size: 50%">
                <%= format_as_localtime note.created_at %>
              </span>
            </span>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="fixed-action-btn">
  <%= link_to new_note_path, title: 'New note', class: 'btn-floating btn-large pulse' do %>
  <i class="material-icons">add</i>
    <% end %>
</div>
